<div>
    <a href="/nueva-foto" style="font-weight: <%= (path=='/nueva-foto')? 'bold': 'normal' %>">Nueva Foto</a>
    <a href="/" style="font-weight: <%= (path=='/')? 'bold': 'normal' %>">Mostrar Imágenes</a>
</div>